
.custom__title {
  text-align: justify;
  text-justify: distribute-all-lines;
  text-align-last: justify;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: -5px;
    width: 100%;
    height: 5px;
    background-color: #000000;
  }
  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: #000000;
  }
}
.list-group-item{
  &:first-child {
    color: white;
    background-color: #000000;
  }
  &:last-child {
    color: white;
    background-color: #000000;
  }
}