
.custom__title {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: -5px;
    width: 100%;
    height: 5px;
    background-color: #000000;
  }
  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: #000000;
  }
}